awscli==1.29.57
botocore==1.31.57
cached-property==1.5.2
click==8.1.1
colorama==0.4.4
docutils==0.16
ez-setup==0.9
Flask==2.0.3
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.1
MarkupSafe==2.1.1
mypy-extensions==1.0.0
psycopg2==2.9.7
psycopg2-binary==2.9.7
pyasn1==0.5.0
python-dateutil==2.8.2
PyYAML==6.0.1
rsa==4.7.2
s3transfer==0.7.0
six==1.16.0
SQLAlchemy==2.0.21
sqlalchemy-orm==1.2.10
typing-inspect==0.9.0
typing_extensions==4.8.0
urllib3==1.26.17
Werkzeug==2.1.0
